footer {
    background-color: $color-main;
    color: #fff;
    padding: 2rem 0 1rem;
    margin-top: 2rem;
    
    .copy {
        font-size: 0.9rem;
        text-align: center;
        margin-top: 1rem;
    }
}