body {
    font-family: 'Mukta', sans-serif;
    line-height: 1.3;
    font-size: 18px;
}

main {
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

h1, h2 {
    position: relative;
    margin-bottom: 3rem;
    color: #3271d9;
    &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: rgba(255, 188, 5, 0.8);
        bottom: -10px;
        position: absolute;
        width: 80px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

h1 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    @include media-breakpoint-up(sm) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2rem;
    @include media-breakpoint-up(sm) {
        font-size: 2.82rem;
    }
}

section {
    padding: 2rem 0;
}

.intro {
    font-size: 1.5rem;
    text-align: justify;
}

p {
    margin-bottom: .5rem;
}

@keyframes image {
    0% {
      background-image: url('/assets/images/hero.jpg');
    }
    100% {
        background-image: url('/assets/images/hero_2.jpg');
    }
}
  