header {
    box-shadow: 0px 0px 10px #222;
    z-index: 7;
    position: relative;
    position: absolute;
    background: rgb(0, 0, 0, 90%);
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.35s ease;

    &.header-home {
        background-color: transparent;
        box-shadow: none;
    }

    &.sticky {
        box-shadow: 0px 0px 10px #222;
        background: rgb(0, 0, 0, 92%);
        position: fixed;
        z-index: 999;

        .navbar-brand {
            img {
                width: 96px;
            }
        }
    }

    .navbar-brand {
        img {
            transition: all 0.5s ease;
        }
    }

    .navbar {
        .navbar-collapse {
            justify-content: flex-end;

            .navbar-nav {
                .nav-item {
                    margin-left: 1.75rem;
                    position: relative;

                    &.wsp {
                        margin-left: 2.5rem;

                        &::after,
                        &:before {
                            display: none;
                        }

                        img {
                            transform: translateY(-6px);
                            filter: drop-shadow(2px 2px 6px #333);
                        }
                    }

                    &.in,
                    &.ig {
                        transform: translateY(-6px);
                        margin-left: .55rem;

                        &::after,
                        &:before {
                            display: none;
                        }

                        img {
                            filter: drop-shadow(2px 2px 6px #333);
                        }
                    }

                    .nav-link {
                        color: #fff;
                        font-weight: 500;
                        padding: 0.5rem 0;
                        img {
                            transition: opacity 0.35s ease-out;
                            &:hover {
                                opacity: 0.65;
                            }
                        }
                    }

                    &:after,
                    &:before {
                        content: "";
                        position: absolute;
                        width: 0%;
                        display: block;
                        height: 1px;
                        transition: all 0.3s ease;
                        margin-top: 2px;
                        transition: all 300ms ease-in;
                    }

                    &:after {
                        bottom: 33%;
                        left: 0;
                    }

                    &:before {
                        top: 5%;
                        right: 0;
                    }

                    &:hover:after {
                        width: 100%;
                        height: 1px;
                        bottom: 33%;
                        background-color: rgba(255, 255, 255, 0.6);
                    }

                    &:hover:before {
                        width: 100%;
                        height: 1px;
                        top: 5%;
                        background-color: rgba(255, 255, 255, 0.6);
                    }
                }
            }
        }
    }
}